<footer class="bg-gray-100 w-full fixed py-6 px-8 mt-8 bottom-0">
    <div class="container mx-auto flex flex-col items-center md:flex-row justify-between">
      <div>
        <a href="#" class="font-semibold text-gray-800">Testing</a>
      </div>
      <div class="mt-4 md:mt-0 flex justify-center items-center">
        <ul class="flex space-x-6 justify-center items-center">
          <li><a href="#" class="text-gray-600 hover:text-gray-800">Terms</a></li>
          <li><a href="#" class="text-gray-600 hover:text-gray-800">Privacy</a></li>
        </ul>
      </div>
      <div class="mt-4 md:mt-0 text-center md:text-right">
        <p class="text-gray-500">© 2024 Testing Angular. All rights reserved.</p>
      </div>
    </div>
  </footer>