<header class="bg-white shadow-md py-4 px-8 flex justify-between items-center">

    <div>
      <a href="#" class="font-semibold text-xl text-gray-800">Testing</a>
    </div>
  
    <nav>
      <ul class="flex space-x-6">
        <li><a href="/home" class="text-gray-600 hover:text-gray-800">Home</a></li>
        <li><a href="/register" class="text-gray-600 hover:text-gray-800">Register</a></li>
        <li><a href="/login" class="text-gray-600 hover:text-gray-800">Login</a></li>
      </ul>
    </nav>
  
  </header>
  