<app-register-header></app-register-header>
<div class="lg: w-3/6 mt-10 p-10 shadow-lg mx-auto rounded-lg bg-gradient-to-b from-[#f3e7f2] to-[#a876a7] mb-10">
    <h3 i18n="@@appTitle" class="text-3xl text-center font-semibold py-5 text-purple-950">Register</h3>
    <form [formGroup]="registerForm" class="flex flex-col">
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="firstName" class="p-2 border-gray-300 rounded" type="text" placeholder="FirstName">
            <span *ngIf="registerForm.hasError('required', 'firstName') && registerForm.controls['firstName'].dirty" class="text-purple-950">First Name is Required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="lastName" class="p-2 border-gray-300 rounded" type="text" placeholder="LastName">
            <span *ngIf="registerForm.hasError('required', 'lastName') && registerForm.controls['lastName'].dirty" class="text-purple-950">Last Name is Required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="email" class="p-2 border-gray-300 rounded" type="text" placeholder="Email">
            <span *ngIf="registerForm.hasError('required', 'email') && registerForm.controls['email'].dirty"  class="text-purple-950">Email is Required</span>
            <span *ngIf="registerForm.hasError('email', 'email')" class="text-purple-950">Email is Invalid</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="username" class="p-2 border-gray-300 rounded" type="text" placeholder="Username">
            <span *ngIf="registerForm.hasError('required', 'username') && registerForm.controls['username'].dirty"  class="text-purple-950">Username is Required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="password" class="p-2 border-gray-300 rounded" type="password" placeholder="Password">
            <span *ngIf="registerForm.hasError('required', 'password') && registerForm.controls['password'].dirty"  class="text-purple-950">Password is Required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="confirmPassword" class="p-2 border-gray-300 rounded" type="password" placeholder="Confirm Password">
            <span *ngIf="registerForm.hasError('required', 'confirmPassword') && registerForm.controls['confirmPassword'].dirty"  class="text-purple-950">Confirm Password is Required</span>
            <span *ngIf="registerForm.hasError('confirmPasswordValidator', 'confirmPassword')"  class="text-purple-950">Password didn't match</span>
        </div>
        <button [disabled]="registerForm.invalid" [class.disabled]="registerForm.invalid" (click)="register()" class="bg-purple-950 p-2 rounded mt-3 text-white">Submit</button>
    </form>
    <div class="flex justify-center mt-5">
        <span class="text-purple-950">Already have an account?&nbsp;</span>
        <a href="/login" class="text-purple-900 hover:text-purple-900">Login Here</a>
    </div>
</div>